@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #45b649, #dce35b);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calculator {
  background: whitesmoke;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
  margin: 0;
}

/* Display */
.calculator-display {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 12px 12px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-weight: 100;
  overflow-x: auto;
  letter-spacing: 0.13rem;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(200, 200, 200);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  color: white;
  background: gray;
  font-size: 30px;
}

.clear {
  background: rgb(241, 35, 35);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equals-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: rgb(13, 206, 87);
}

/* Media Queries */
/* Large Smartphone Vertical */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
